<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Editar</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-group-1">
                <li>
                    <a th:href="@{/contratos}">Contratos</a>
                </li>
                <li>
                    <a th:href="@{/planos}">Planos</a>
                </li>
            </ul>

            <div>
                <a th:href="@{/}">
                    <img th:src="@{/img/cb-logo.png}" width="166" height="33">
                </a>
            </div>

            <ul class="nav-group-2">
                <li>
                    <a th:href="@{/listar}">Clientes</a>
                </li>
                <li>
                    <a th:href="@{/form}">Criar Conta</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Empresas</h2>
        <div class="container-lista">
            <div class="list-table">
                <table>
                    <thead>
                        <tr>
                            <th>CNPJ</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody th:each="emp: ${empresas}">
                        <tr>
                            <td th:text="${emp.cdCnpj}"></td>
                            <td th:text="${emp.nmEmpresa}"></td>
                            <td th:text="${emp.dsEmail}"></td>
                            <td><a th:href="@{'editar/' + ${emp.cdCnpj}}">Editar</a></td>
                            <td>
                                <form th:action="@{'deletar/' + ${emp.cdCnpj}}" method="post">
                                    <input type="submit" value="Apagar">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        
    </section>
        
</body>
</html>